@charset "UTF-8";
#da{
	width: 100%;
	height: 500px;
	
}
#product-table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#product-table td, #product-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#product-table th {
  background-color: #f2f2f2;
}