@charset "UTF-8";
/* c_phoneMessage部分  */

#phone_title{
	color: #666;
    height: 36px;
    margin-bottom: 20px;
   	overflow: hidden;
}

#verify_steps{
	margin: 20px 0;
}

#verify_content{
    width: 690px;
    padding-top: 70px;
}

#phone_title h2{
	font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin-left: 0;
}

.step-item{
	font: 16px / 30px Microsoft YaHei, STHeiti, sans-serif;
	background-color: #efefef;
    padding: 0;
    white-space: nowrap;
    width: 28%;
   
}

#verify_steps span{
	display: block;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}
.xu{
	width:29px;
	height:29px;
	margin:7px 0;
}

.xu img{
	width:29px;
	height:29px;
	
}

.sp{
	font-style: normal;
	margin-left :10px;
	position: absolute;
	left:40px;
	top:7px;
}

.action{
	background:#00a8ff;
}

.step-item .sp{
	color: #8c8c8c;
}

.action .sp{
	color:#ffffff;
}

.jian{
   margin-left:20px;
}
#verify_content ul{
	padding-bottom: 60px;
    padding-left: 80px;
}


.msg{
	padding-bottom: 30px;
    text-align: center;
    font-size: 116%;
    color: rgb(102, 102, 102);
}

.form-item{
	height: 60px;
	font-size: 116%;
    width: 450px;
    overflow: hidden;
    margin-bottom: 10px;
}

.form-label{
	width: 145px;
	height: 48px;
    line-height: 48px;
    overflow: hidden;
    text-align: right;
    float: left;
    min-height: 1em;
    font-size: 16px;
    color:#666666;
}

.form-act{
	position: relative;
	margin-left: 148px;
    line-height: 35px;
    display: block;
}

.form-sub-label{
	margin-left: 5px;
    margin-right: 15px;
    vertical-align: middle;
    font-size:16px;
    display: flex;
}

.phonecode{
	border-style: solid;
	font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    
}


